@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Source+Code+Pro:wght@700&display=swap');

@import url("https://fonts.googleapis.com/css?family=Mukta:700");




.container {
	width: 100vw;
	height: 100%;
	
}

.card{
	font: 95% Arial, Helvetica, sans-serif;
	width: 400px;
	padding: 16px;
	position:absolute; 
	top:50px; 
	left:155px; 	
	background: #F7F7F7;
}
.title{
	background: #222222;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}


.card input[type="text"],
.card input[type="date"],
.card input[type="datetime"],
.card input[type="email"],
.card input[type="number"],
.card input[type="search"],
.card input[type="time"],
.card input[type="url"],
.card textarea,
.card select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	font: 95% Arial, Helvetica, sans-serif;
}
.card input[type="text"]:focus,
.card input[type="date"]:focus,
.card input[type="datetime"]:focus,
.card input[type="email"]:focus,
.card input[type="number"]:focus,
.card input[type="search"]:focus,
.card input[type="time"]:focus,
.card input[type="url"]:focus,
.card textarea:focus,
.card select:focus
{
	box-shadow: 0 0 5px #000000;
	padding: 3%;
	border: 1px solid #000000;
}
 button[type="submit"], input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #1b1b1b;
	border-bottom: 2px solid #020146;
    border-radius: .5rem;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
    
} button[type="submit"]:hover, button[type="button"]:hover{
	background: #323233;
}


/* Table Styles */

@media (max-width: 1200px){
	.card {
		width: 350px;
		margin: 50px 0 0 70px;
	}
}

@media (max-width: 768px){
  .card{
		width: 350px;
		margin: 50px 0 0 190px;
	}
  
}

@media (max-width: 480px){
  .card{
		width: 350px;
		margin: 50px 60px;
	}
}

@media (max-width: 375px){
  .card{
		width: 300px;
		margin: 50px 40px;
	}
}

.table-wrapper{
	position: absolute;
	background: none;
	overflow: scroll;
  top: 150px;
	right: 150px;
  width: 700px;
	height: 400px;
  margin: 0px 100px 0 0;
 
}

.table-wrapper::-webkit-scrollbar {
	width: 7px;
}

.table-wrapper::-webkit-scrollbar-thumb {
	background: #dfdfdf;
	border-radius: 5px;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #000000;
  background: #d4d4d4;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #000000;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 1200px){
  .table-wrapper{
    width: 550px;
    margin: 100px 70px 0 0;
  }

}

@media (max-width: 768px){
  .table-wrapper {
    width: 680px;
    margin: 80px 35px 0 35px;
  }
}

@media (max-width: 480px){
  .table-wrapper {
    width: 400px;
    margin: 50px 35px 0 0px;
  }
}

@media (max-width: 375px){
  .table-wrapper {
    width: 350px;
    margin: 50px 10px 0 0;
  }
}

.total {
	margin: 500px 0 0 0 ;
}

.totali {
	margin-right: 50px;
	margin-top: 50px;
	float: right;
}

.delete {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	font-size: 1rem;
	background-color: #ff1818;	
	color: white;
}

.edit {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	font-size: 1rem;
	margin: 0 20px 0 0;
	background-color: #0aa5ff;	
	color: white;
}

.input-edit {
	width: 70px;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	font: 95% Arial, Helvetica, sans-serif;
}

.input-edit:focus{
	box-shadow: 0 0 5px #000000;
	padding: 3%;
	border: 1px solid #000000;
}

.btn-methods {
	width: 10%;
}

.btn-dialog {
	border: none;
	background: green;
	color: #dfdfdf;
	width: 80px;
	height: 30px;
	font-size: 17px;
}

@media (hover: hover) {
	#creditcard {
	  /*  set start position */
	  transform: translateY(110px);
	  transition: transform 0.1s ease-in-out;
	  /*  set transition for mouse enter & exit */
	}
  
	#money {
	  /*  set start position */
	  transform: translateY(180px);
	  transition: transform 0.1s ease-in-out;
	  /*  set transition for mouse enter & exit */
	}
  
	button:hover #creditcard {
	  transform: translateY(0px);
	  transition: transform 0.2s ease-in-out;
	  /*  overide transition for mouse enter */
	}
  
	button:hover #money {
	  transform: translateY(0px);
	  transition: transform 0.3s ease-in-out;
	  /*  overide transition for mouse enter */
	}
  }
  
  @keyframes bounce {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-0.25rem);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  .button:hover .button__text span {
	transform: translateY(-0.25rem);
	transition: transform .2s ease-in-out;
  }
  
  /* styling */
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  
  body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button {
	border: none;
	outline: none;
	background-color: purple;
	padding: 1rem 90px 1rem 2rem;
	position: relative;
	border-radius: 8px;
	letter-spacing: 0.7px;
	background-color: #5086bd;
	color: #fff;
	font-size: 21px;
	font-family: "Lato", sans-serif;
	cursor: pointer;
	box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
	float: right;
	top: 80px;	
	left: 190px;
  }
  
  .button:active {
	transform: translateY(1px);
  }
  
  .button__svg {
	position: absolute;
	overflow: visible;
	bottom: 6px;
	right: 0.2rem;
	height: 140%;
  }

	body, .modal{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal{
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-modal:checked ~ .modal{
		opacity: 1;
		visibility: visible;
	} 
	.contenedor{
		font-family: 'Rubik', sans-serif;
		width: 400px;
		height: 700px;
		margin: auto;
		background-image: linear-gradient(135deg, #16a8ff 0%, #444df7 100%);
		box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
		transition: all 500ms ease;
		position: relative;
		transform: translateY(-30%);
	}
	#btn-modal:checked ~ .modal .contenedor{
		transform: translateY(0%);
	} 
	.contenedor header{
		padding: 10px;
		background: #01750b;
		color: #fff;
	}
	.contenedor label{
		position: absolute;
		top: 10px;
		right: 10px;
		color: #fff;
		font-size: 15px;
		cursor: pointer;
	}

	.content-information {
		
	}
	.contenido{
		width: 100%;
		padding: 10px; 
	}
	.contenido h3{
		margin-bottom: 10px;
	}
	.contenido p{
		margin-bottom: 7px;
	}
	#btn-modal{
		display: none;
	}
	.lbl-modal{
		background: #fff;
		padding: 10px 15px;
		border-radius: 4px;
		cursor: pointer;
	}

	.content-information-i {
		border-radius: 1em;
  	background-color: none;
  	color: #fff;
  	padding: 1em;
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	legend {
		display: flex;
		justify-content: center;
		
		font-weight: 600;
		margin-block-end: 0.5em;
		padding: 0;
	}

	input[type="radio"]{
		color: #000000;
		border: 2px solid black;
	}
	
	.form {
		display: grid;
		gap: 2em;
	}
	
	.form__radios {
		margin-top: 20px;
		display: grid;
		gap: 1em;
	}
	
	.form__radio {
		align-items: center;
		height: 45px;
		background-color: #fefdfe;
		border-radius: 1em;
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
		display: flex;
		padding: 1em;
	}
	
	.form__radio i {
		font-size: 20px;
		margin-left: 10px;
	}

	.payments-title {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		font-weight: 500;
		margin: 0 0 0 10px;
	}

	.learn-more {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	}
	.learn-more {
		width: 12rem;
		height: auto;
	}
	.learn-more .circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background: #282936;
		border-radius: 1.625rem;
	}
	.learn-more .circle .icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
	}
	.learn-more .circle .icon.arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	}
	.learn-more .circle .icon.arrow::before {
		position: absolute;
		content: "";
		top: -0.25rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}
	.learn-more .button-text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		color: #282936;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	}
	.learn-more:hover .circle {
		width: 100%;
	}
	.learn-more:hover .circle .icon.arrow {
		background: #fff;
		transform: translate(1rem, 0);
	}
	.learn-more:hover .button-text {
		color: #fff;
	}
	














	@media only screen and (min-width:320px) and (max-width:768px){
		.contenedor{
			width: 95%;
		}
	}

	
  





