<section class="header">
  <h1>Sisas</h1>

</section>
<footer class="footer">
  <div class="content"> 
  <div class="social-container">
  <div class="social-links">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  </div>
  <div class="mall-list container">
    <div class="logo">
      <img src="../../../assets/om-logo-6.svg" class="logo-img" alt="">
    </div>
    <div class="first-part">
      <div class="links shop-men">
        <p>Shop Men</p>
        <a href="" class="links">Winter</a>
        <a href=""  class="links">Summer</a>
        <a href="" class="links">Shoes</a>
        <a href="" class="links">Formal</a>
        <a href="" class="links">Deportive</a>
      </div>
      <div class="links shop-men">
        <p>Clothes</p>
        <a href="" class="links">Winter</a>
        <a href="" class="links">Summer</a>
        <a href="" class="links">Shoes</a>
        <a href="" class="links">Formal</a>
        <a href="" class="links">Deportive</a>
      </div>
    </div>
    <div class="second-part">
      <div class="links shop-men">
        <p>Clothes</p>
        <a href="" class="links">Winter</a>
        <a href="" class="links">Summer</a>
        <a href="" class="links">Shoes</a>
        <a href="" class="links">Formal</a>
        <a href="" class="links">Deportive</a>
      </div>
      <div class="links Quick Links">
        <p>Quick Links</p>
        <a href="" class="links">Track Your Order</a>
        <a href="" class="links">Support</a>
        <a href="" class="links">FAQ</a>
        <a href="" class="links">About</a>
        <a href="" class="links">Contact</a>
      </div>
    </div>
  </div>
</div>
</footer>
