
    <div class="header">
    <h1>FACTURA</h1>
    <img src="../../../assets/om-logo-6.png" alt="">
    </div>
    <div class="information">
        <h3 class="name-local">Mercamos</h3>
        <p>Calle 50 Lindaraja</p>
        <p>Armenia,Quindio</p>
    </div>

    <div class="fac">
        <h2>FACTURAR A </h2>
        <p>Pepita Perez</p>
        <p>105484878</p>
        <p>Fachada mz 3 #11</p>
    </div>
    <div id="htmlInvoice">
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">IVA</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoice">
          <td>{{item.id_client}}</td>
          <td>{{item.details[0].code}}</td>
          <td>{{item.details[0].name}}</td>
          <td>{{item.details[0].price}}</td>
          <td>{{item.details[0].vat}}</td>
          <td>{{item.details[0].quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button (click)="makePDF()">download</button>
  </div>
