@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Source+Code+Pro:wght@700&family=Source+Sans+Pro:wght@600&display=swap');

:root {

--main-color: #0086e6;
--main-alt-color: #0068b3;
--dark-color: #18191b;
--dark-alt-color: #0c0c0d;
--light-color: #ffffff;
--light-alt-color: #f8f7f7;
--nord-dark-color: #2e3440;
--nord-dark-alt-color: #3b4252;
--nord-light-color: #d8dee9;
--nord-light-alt-color: #e5e9f0;
}

.content {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.header-chat {
  width: 25%;
  height: 100%;
  background: #fff;
  padding: 1.5rem;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.new-room {
  border: none;
  width: 30%;
  background: none;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  position: relative;
  width: 271px;
}

.input {
  box-sizing: border-box;
  color: #191919;
  padding: 15px 15px 15px 35px;
  width: 100%;
  border-radius: 50px;
  border: 2px solid #e7e7e7;
}

.input-icon {
  color: #c5c5c5;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.chats {
  margin-top: 50px;
  overflow: auto;
  height: 80%;
}

.view-chat {
  cursor: pointer;
  padding: 1rem;
  background: rgb(243, 244, 246);
  border-radius: 1.25rem;
  display: flex;
  margin-bottom: 1rem;
}

.chats::-webkit-scrollbar {
  -webkit-appearance: none;
}

.chats::-webkit-scrollbar:vertical {
  width:10px;
}

.chats::-webkit-scrollbar-button:increment,.chats::-webkit-scrollbar-button {
  display: none;
}

.chats::-webkit-scrollbar:horizontal {
  height: 10px;
}



.chats::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.chats::-webkit-scrollbar-track {
  border-radius: 10px;
}

.img-perfil {
  border-radius: 999px;
  align-self: flex-start;
  width: 3rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: 25px;
}

.information {
  overflow: hidden;
  width: 100%;
}

.infor1{
  display: flex;
  width: 100%;
}

.name {
  font-weight: 500;
  flex-grow: 1;
}

.hour {
  color: rgba(107,114,128);
}

.text {
  display: block;
  overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(107, 114, 128);
}

.conversation {
  width: 75%;
  display: block;
  background: rgb(243, 244, 246);
}

.header-conversation {
  padding: 1.5rem 5rem;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.content-conversation {
  display: flex;
}

.information-conversation {
  display: flex;
  flex-grow: 2;
}

.img-conversation {
  margin-right: 1rem;
  position: relative;
}

.img-per {
  border-radius: 9999px;
  width: 3rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.state {
  position: absolute;
  padding: 0.25rem;
  background-color: rgb(126, 126, 126);
  border-color: rgba(31, 41, 55);
  border-width: 2px;
  border-radius: 9999px;
  bottom: 2px;
  right:2px;
}

.name-conversation {
  display: block;
  font-weight: 500;
  margin: 0;
}

.state-short {
  color: rgba(107, 114, 128);
}

.name-state-conversation {
  margin-top: 5px;
  margin-left: 5px;
}

.options {
  display: flex;
}

.search-option {
  cursor: pointer;
  width: 1.5rem;
  margin-right: 1rem;
  display: block;
  color: rgba(107, 114, 128)
}

.plus-option {
  cursor: pointer;
  width: 1.5rem;
  color: rgba(107, 114, 128)
}

.chat-conversation {
  padding: 1.5rem 1.5rem;
  overflow: auto;
  height: 75%;

}

.responses {
  height: 100%;
  display: flex;
  margin-bottom: 1.5rem;
}

.img-per2 {
  border-radius: 9999px;
  align-self: flex-start;
  width: 3rem;
  margin: 15px 15px 15px;
  max-width: 100%;
}

.name-date-per {
  display: flex;
  width: 100%;
}

.response-one { 
  height: 15%;
  width: 100%;
  background-color: #c5c5c5;
  flex-direction: column;
  display: flex;
}

.div-response {
  margin-top: 20px;
  padding-left: 1.5rem 5rem;
  border-top-width: 1px;
  display: flex;
}

.input-response {
  width: 90%;
}

.i-respon {
  margin-left: 40px;
  padding: 0.5rem 1rem;
  background-color: rgb(243,244,246);
  border-radius: 1.125rem;
  border: none;
  width: 100%;
}

.options-response {
  justify-content: left;
  margin-left: 85px;
  width: 20%;
  display: flex;
}

.icons-r {
  cursor: pointer;
  width: 1.5rem;
  margin-right: 1rem;
}

.send-message {
  color:rgba(255,255,255);
  padding: 0.5rem 1rem;
  background-color: #0086e6;
  border-radius: 0.25rem;
  text-decoration: inherit;
}

.view-chat-chat {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  background: rgb(243, 244, 246);
  border-radius: 1.25rem;
  display: flex;
  margin-bottom: 1rem;
}

.information-chat {
  overflow: hidden;
  width: 100%;
}

.infor1-chat {
  display: flex;
  width: 100%;
}

.name-chat {
  color: #0086e6;
  font-weight: 500;
  margin-right: 15px;
}

.hour-chat {
  color: rgba(107, 114, 128);
  text-align: center;
  font-size: .7rem;
}

