<section class="content">
  <div class="header-chat">
    <h3 class="title">Supports Rooms</h3>
    <div class="button-add">
    <button class="new-room"><i class="fa-solid fa-circle-plus"></i></button>
  </div>
    <div class="search-input">
      <div class="input-wrapper">
        <input type="text" class="input" placeholder="Search ..">
        <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <div class="chats">
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat One</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat Two</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat Three</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat Four</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat Five</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat Six</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
      <div class="view-chat">
        <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-perfil">
        <div class="information">
          <div class="infor1">
            <p class="name">Chat Seven</p>
            <small class="hour">00:00</small>
          </div>
          <small class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
        </div>
      </div>
    </div>

  </div>
  <div class="conversation">
    <div class="header-conversation">
     <div class="content-conversation">
       <div class="information-conversation">
         <div class="img-conversation">
           <img src="../../../assets/kisspng-user-profile-linkedin-netwerk-money-order-fulfillm-round-face-5b494408cd2468.5239235115315282008403.jpg" alt="" class="img-per">
           <div class="state"></div>
         </div>
           <div class="name-state-conversation">
             <p class="name-conversation">Chat One</p>
             <small class="state-short">Inactive</small>
           </div>
         </div>
         <div class="options">
          <svg class="search-option" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
        <svg class="plus-option" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
      </svg>
         </div>
       </div>

     </div>
     <div class="chat-conversation">
       <div class="responses">
        <div class="response-one">
          <div class="response-one-content">

          </div>

        </div>
       </div>
     </div>
     <div class="div-response">
        <div class="input-response">
          <input type="text" class="i-respon" placeholder="Escribe tu mensaje...">
        </div>
        <div class="options-response">
          <svg class="icons-r" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path>
        </svg>
        <svg class="icons-r" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path>
      </svg>
      <a href="#" class="send-message">Enviar</a>
        </div>
     </div>
    </div>
