.table-wrapper{
  float: right;
  width: 800px;
  margin: 50px 250px 0 0;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #000000;
  background: #d4d4d4;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #000000;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 1200px){
  .table-wrapper{
    width: 520px;
    margin: 100px 50px 0 0;
  }

}

@media (max-width: 768px){
  .table-wrapper {
    width: 700px;
    margin: 100px 35px 0 35px;
  }
}

@media (max-width: 480px){
  .table-wrapper {
    width: 50px;
    margin: 50px 35px 0 0px;
  }
}


