<div class="table-wrapper">
  <table class="fl-table">
      <thead>
      <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio  </th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>Content 1</td>
          <td>Content 1</td>
          <td>Content 1</td>
          <td>Content 1</td>
      </tr>
      <tr>
          <td>Content 2</td>
          <td>Content 2</td>
          <td>Content 2</td>
          <td>Content 2</td>
      </tr>
      <tr>
          <td>Content 3</td>
          <td>Content 3</td>
          <td>Content 3</td>
          <td>Content 3</td>
      </tr>
      <tr>
          <td>Content 4</td>
          <td>Content 4</td>
          <td>Content 4</td>
          <td>Content 4</td>
      </tr>
      <tr>
          <td>Content 5</td>
          <td>Content 5</td>
          <td>Content 5</td>
          <td>Content 5</td>
      </tr>
      <tbody>
  </table>
</div>
