
<div class="content">

        <title>404</title>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    OUR MALL
                </a>


            
                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">Error 404</span>
                        <h1 class="home__title">Hey Bro</h1>
                        <p class="home__description">
                            We can't seem to find the page <br> you are looking for.
                        </p>
                        <a href="#" class="home__button">
                            Go Home
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="../../../assets/om-logo-6.svg" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <span>Derechos reservados por Our Mall</span>
                    <span>|</span>
                    <span>ourmall@company.com</span>
                </footer>
            </section>
        </main>

    </body>
    </div>
